
<div class="fundo">
  <div class="tab-content">
    <div class="calculadora">
      
      <div class="table-responsive">
        <p>
          <input
            type="text"
            id="resultado"
            name="numeroChave"
            [(ngModel)]="numeroChave"
          />
        </p>
        <table>
          <tr>
            <td>
              <button
                class="botao  btn btn-none"
                id="botao-1"
                [disabled]="butaoDesabilitado"
                (click)="inserirTecla($event)"
                data-btn-value="1"
              >
                1
              </button>
            </td>
            <td style="position: relative;">
              <div
                class="buttonUp"
                *ngIf="btn2"
              >
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px;"
                  type="button"
                  id="test"
                  data-btn="btn2"
                  data-btn-value="A"
                  (click)="inserirLetra($event)"
                >
                  A
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn2"
                  data-btn-value="B"
                  (click)="inserirLetra($event)"
                >
                  B
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn2"
                  data-btn-value="C"
                  (click)="inserirLetra($event)"
                >
                  C
                </button>
              </div>
              <button
                class="botao  btn btn-none"
                id="botao-2"
                [disabled]="butaoDesabilitado"
                (click)="inserirTecla($event)"
                data-btn-value="2"
              >
                2<span class="placehold-teclado-small">ABC</span>
              </button>
            </td>
            <td style="position: relative;">
              <div
                class="buttonUp"
                *ngIf="btn3"
              >
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px;"
                  type="button"
                  id="test"
                  data-btn="btn3"
                  data-btn-value="D"
                  (click)="inserirLetra($event)"
                >
                  D
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn3"
                  data-btn-value="E"
                  (click)="inserirLetra($event)"
                >
                  E
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn3"
                  data-btn-value="F"
                  (click)="inserirLetra($event)"
                >
                  F
                </button>
              </div>
              <button
                class="botao  btn btn-none"
                id="botao-3"
                (click)="inserirTecla($event)"
                [disabled]="butaoDesabilitado"
                data-btn-value="3"
              >
                3<span class="placehold-teclado-small">DEF</span>
              </button>
            </td>
          </tr>
          <tr>
            <td style="position: relative;">
              <div
                class="buttonUp"
                *ngIf="btn4"
              >
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px;"
                  type="button"
                  id="test"
                  data-btn="btn4"
                  data-btn-value="G"
                  (click)="inserirLetra($event)"
                >
                  G
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn4"
                  data-btn-value="H"
                  (click)="inserirLetra($event)"
                >
                  H
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn4"
                  data-btn-value="I"
                  (click)="inserirLetra($event)"
                >
                  I
                </button>
              </div>
              <button
                class="botao  btn btn-none"
                id="botao-4"
                [disabled]="butaoDesabilitado"
                (click)="inserirTecla($event)"
                data-btn-value="4"
              >
                4<span class="placehold-teclado-small">GHI</span>
              </button>
            </td>
            <td style="position: relative;">
              <div
                class="buttonUp"
                *ngIf="btn5"
              >
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px;"
                  type="button"
                  id="test"
                  data-btn="btn5"
                  data-btn-value="J"
                  (click)="inserirLetra($event)"
                >
                  J
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn5"
                  data-btn-value="K"
                  (click)="inserirLetra($event)"
                >
                  K
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn5"
                  data-btn-value="L"
                  (click)="inserirLetra($event)"
                >
                  L
                </button>
              </div>
              <button
                class="botao  btn btn-none"
                id="botao-5"
                [disabled]="butaoDesabilitado"
                (click)="inserirTecla($event)"
                data-btn-value="5"
              >
                5<span class="placehold-teclado-small">JKL</span>
              </button>
            </td>
            <td style="position: relative;">
              <div
                class="buttonUp"
                *ngIf="btn6"
              >
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px;"
                  type="button"
                  id="test"
                  data-btn="btn6"
                  data-btn-value="M"
                  (click)="inserirLetra($event)"
                >
                  M
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn6"
                  data-btn-value="N"
                  (click)="inserirLetra($event)"
                >
                  N
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn6"
                  data-btn-value="O"
                  (click)="inserirLetra($event)"
                >
                  O
                </button>
              </div>
              <button
                class="botao  btn btn-none"
                id="botao-6"
                [disabled]="butaoDesabilitado"
                (click)="inserirTecla($event)"
                data-btn-value="6"
              >
                6<span class="placehold-teclado-small">MNO</span>
              </button>
            </td>
          </tr>
          <tr>
            <td style="position: relative;">
              <div
                class="buttonUp"
                *ngIf="btn7"
              >
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px;"
                  type="button"
                  id="test"
                  data-btn="btn7"
                  data-btn-value="P"
                  (click)="inserirLetra($event)"
                >
                  P
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn7"
                  data-btn-value="Q"
                  (click)="inserirLetra($event)"
                >
                  Q
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn7"
                  data-btn-value="R"
                  (click)="inserirLetra($event)"
                >
                  R
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%; margin-top: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn7"
                  data-btn-value="S"
                  (click)="inserirLetra($event)"
                >
                  S
                </button>
              </div>
              <button
                class="botao  btn btn-none"
                id="botao-7"
                [disabled]="butaoDesabilitado"
                (click)="inserirTecla($event)"
                data-btn-value="7"
              >
                7<span class="placehold-teclado-big">PQRS</span>
              </button>
            </td>
            <td style="position: relative;">
              <div
                class="buttonUp"
                *ngIf="btn8"
              >
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px;"
                  type="button"
                  id="test"
                  data-btn="btn8"
                  data-btn-value="T"
                  (click)="inserirLetra($event)"
                >
                  T
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn8"
                  data-btn-value="U"
                  (click)="inserirLetra($event)"
                >
                  U
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn8"
                  data-btn-value="V"
                  (click)="inserirLetra($event)"
                >
                  V
                </button>
              </div>
              <button
                class="botao  btn btn-none"
                id="botao-8"
                [disabled]="butaoDesabilitado"
                (click)="inserirTecla($event)"
                data-btn-value="8"
              >
                8<span class="placehold-teclado-small">TUV</span>
              </button>
            </td>
            <td style="position: relative;">
              <div
                class="buttonUp"
                *ngIf="btn9"
              >
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px;"
                  type="button"
                  id="test"
                  data-btn="btn9"
                  data-btn-value="W"
                  (click)="inserirLetra($event)"
                >
                  W
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn9"
                  data-btn-value="X"
                  (click)="inserirLetra($event)"
                >
                  X
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn9"
                  data-btn-value="Y"
                  (click)="inserirLetra($event)"
                >
                  Y
                </button>
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px; margin-left: 1%; margin-top: 1%;"
                  type="button"
                  id="test"
                  data-btn="btn9"
                  data-btn-value="Z"
                  (click)="inserirLetra($event)"
                >
                  Z
                </button>
              </div>
              <button
                class="botao  btn btn-none"
                id="botao-9"
                [disabled]="butaoDesabilitado"
                (click)="inserirTecla($event)"
                data-btn-value="9"
              >
                9 <span class="placehold-teclado-big">WXYZ</span>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button
                class="botao  btn btn-none"
                id="botao-10"
                [disabled]="butaoDesabilitado"
                (click)="inserirTecla($event)"
                data-btn-value="*"
              >
                *
              </button>
            </td>
            <td style="position: relative;">
              <div
                class="buttonUp"
                *ngIf="btn11"
              >
                <button
                  class="btn btn-dark"
                  style="width: 40px; height: 40px;"
                  type="button"
                  id="test"
                  data-btn="btn11"
                  data-btn-value="+"
                  (click)="inserirLetra($event)"
                >
                  +
                </button>
              </div>
              <button
                class="botao  btn btn-none"
                id="botao-11"
                [disabled]="butaoDesabilitado"
                (click)="inserirTecla($event)"
                data-btn-value="0"
              >
                0<span class="placehold-teclado-normal">+</span>
              </button>
            </td>
            <td>
              <button
                class="botao  btn btn-none"
                id="botao-12"
                [disabled]="butaoDesabilitado"
                (click)="inserirTecla($event)"
                data-btn-value="#"
              >
                #
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="botao  btn btn-none" [disabled]="butaoDesabilitado">limpar</button>
            </td>
            <td>
              <button
                class="botao  btn btn-none"
                [disabled]="butaoDesabilitado"
                style="display:none"
              ></button>
            </td>
            <td>
              <button class="botao  btn btn-none" id="botao-10" [disabled]="butaoDesabilitado">
                chamar
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
